* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --dark: #1f242d;
    --darker: #1F2937;
    --darkest: #111827;
    --gray: #987280;
    --light: #EEE;
    --pink: #0ef;
    --purple: #8B5Cf6;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--dark);
    color: var(--light);
}

header {
    /* border: 3px solid black; */
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1 {
    font-size: 2.8rem;
    font-weight: 400;
    color: var(--gray);
    margin-bottom: 1rem;
}

#new-task-form {
    display: flex;
    /* flex-direction: column; */
    margin-bottom: 1rem;
}

input,
button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#new-task-input {
    flex: 1 1 0%;
    background: var(--darker);
    padding: 1rem;
    border-radius: 2rem;
    margin-right: 1rem;
    color: var(--light);
    font-size: 1.6rem;
}


#new-task-input :placeholder {
    color: var(--gray);
}

#new-task-submit {
    color: var(--pink);
    font-size: 1.3rem;
    font-weight: 750;
    border: 2px solid black;
    padding: 0 8px;
    border-radius: 25%;
    transition: .7s ease;
    cursor: pointer;
}

#new-task-submit:hover {
    background: var(--pink);
    color: var(--light);
}


main {
    border: 2px solid black;
    border-radius: 10%;
    flex: 1 1 0%;
    padding: 2rem 1rem;
    max-width: 500px;
    width: 100%;
    margin: 2rem auto;
}


.task-list {
    padding: 1.5rem;
}

.task-list h2 {
    font-size: 2.8rem;
    font-weight: 300;
    color: var(--gray);
    margin-bottom: 1.2rem;
}

#tasks .task {
    display: flex;
    justify-content: space-between;
    background: var(--darkest);
    padding: 1.2rem;
    border-radius: 1.5rem;
    margin-bottom: 1.2rem;
}

#tasks .task .content {
    flex: 1 1 0%;
}


#tasks .task .content .text {
    color: var(--light);
    font-size: 1.1rem;
    width: 100%;
    display: block;
    transition: .5s;
}


#tasks .task .content .text:not(:read-only) {
    color: var(--pink);
}

#tasks .task .actions {
    display: flex;
    margin: 0 -0.5rem;
}


#tasks .task .actions button {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 2px 8px;
    border-radius: 25%;
    transform: .5s;

}

#tasks .task .actions button:hover {
    opacity: 0.9;
}

#tasks .task .actions button:active {
    opacity: 0.5;
}

#tasks .task .actions .edit {
    background-image: linear-gradient(to right, var(--pink), var(--pink));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#tasks .task .actions .delete {
    color: crimson
}


/* Media Query */
@media (max-width:430px) {
    #new-task-form {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }

    #new-task-submit {

        margin-top: 2rem;
        border: none;
        width: 100%;

    }
}